    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/ProfilePhoto.png" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Nicolás Alexander Gayoso</p>
            <p>Full Stack Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia sequi nesciunt quas quaerat! Voluptate esse voluptatum, pariatur cum impedit modi! Qui ut suscipit molestiae. Voluptate error ipsam beatae maxime. Veniam!</p>
            </span>
        </div>
    
    
    </div>


