<div class="row">
    <h2>Experiencia Laboral</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Trabajo 1</h3> - <h4>(Años)</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rerum ratione odit libero optio illum maiores aut fugit doloribus impedit laborum quos eligendi laudantium in numquam nihil quo, inventore non.
            </p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 2</h3> - <h4>(Años)</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rerum ratione odit libero optio illum maiores aut fugit doloribus impedit laborum quos eligendi laudantium in numquam nihil quo, inventore non.
            </p>
        </ul>
        <ul>
            <li>
                <h3>Trabajo 3</h3> - <h4>(Años)</h4>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rerum ratione odit libero optio illum maiores aut fugit doloribus impedit laborum quos eligendi laudantium in numquam nihil quo, inventore non.
            </p>
        </ul>
    </div>

</div>