<div class="row">
    <h2>Experiencia Laboral</h2>
    <div class="col-lg-2">
        <button type="button" class="btn btn-secondary" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>
    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">

            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h4>{{Experiencia.nombreE}}</h4>
                    </td>
                    <td>
                        <h5>{{Experiencia.descripcionE}}</h5>
                    </td>
                    <td *ngIf="isLogged"><button class="btn btn-dark" routerLink="/editexp/{{Experiencia.id}}">
                    <td><i class="bi bi-pencil-square"></i>Editar</button></td>

                    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Experiencia.id)">
                        <td><i class="bi bi-trash3"></i>Borrar</button></td>
                </tr>
            </tbody>

        </table>
    </div>


</div>