<div class="row">
    <h1>Hard Skill</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="95"
        [radius]="100"
        [title]="'HTML'"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [showUnits]="false"
        [imageHeight]="85"
        [imageWidth]="85"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff824d'"
        [innerStrokeColor]="'#ff824d'"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#ff9466'"
        [clockwise]="true"
        [startFromZero]="false"
    
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'CSS'"
        [imageSrc]="'../assets/css.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#2a84e5'"
        [innerStrokeColor]="'#53a9ff'"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [clockwise]="true"
        [startFromZero]="false"
    
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [title]="'JavaScript'"
        [imageSrc]="'../assets/js3.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#edff66'"
        [innerStrokeColor]="'#e6ff29'"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#f9ffcc'"
        [clockwise]="true"
        [startFromZero]="false"
    
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [title]="'Angular'"
        [imageSrc]="'../assets/angular2.png'"
        [showImage]="true"
        [imageHeight]="95"
        [imageWidth]="95"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#e90101'"
        [innerStrokeColor]="'#ff0000'"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#f07070'"
        [clockwise]="true"
        [startFromZero]="false"
    
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [title]="'github'"
        [imageSrc]="'../assets/git.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#000000'"
        [innerStrokeColor]="'#000000'"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#A9A9A9'"
        [clockwise]="true"
        [startFromZero]="false"
    
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [title]="'Java'"
        [imageSrc]="'../assets/java.png'"
        [showImage]="true"
        [imageHeight]="105"
        [imageWidth]="105"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#2a84e5'"
        [innerStrokeColor]="'#2a84e5'"
        [animation]="true"
        [animationDuration]="800"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#f07070'"
        [clockwise]="true"
        [startFromZero]="false"
    
        ></circle-progress>
    </div>

    <div class="row" id="Soft">
        <h2>Soft Skill</h2>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="80"
            [radius]="100"
            [title]="'Ingles'"
            [imageSrc]="'../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2eff58'"
            [innerStrokeColor]="'#2eff58'"
            [animation]="true"
            [animationDuration]="800"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#ccf5d4'"
            [clockwise]="true"
            [startFromZero]="false"
        
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'TrabajoGrupal'"
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2eff58'"
            [innerStrokeColor]="'#2eff58'"
            [animation]="true"
            [animationDuration]="800"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#ccf5d4'"
            [clockwise]="true"
            [startFromZero]="false"
        
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'adaptabilidad'"
            [imageSrc]="'../assets/adaptabilidad.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2eff58'"
            [innerStrokeColor]="'#2eff58'"
            [animation]="true"
            [animationDuration]="800"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#ccf5d4'"
            [clockwise]="true"
            [startFromZero]="false"
        
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'comunicacion'"
            [imageSrc]="'../assets/comunicacion.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2eff58'"
            [innerStrokeColor]="'#2eff58'"
            [animation]="true"
            [animationDuration]="800"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#ccf5d4'"
            [clockwise]="true"
            [startFromZero]="false"
        
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'adaptabilidad'"
            [imageSrc]="'../assets/responsabildiad.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2eff58'"
            [innerStrokeColor]="'#2eff58'"
            [animation]="true"
            [animationDuration]="800"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#ccf5d4'"
            [clockwise]="true"
            [startFromZero]="false"
        
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'adaptabilidad'"
            [imageSrc]="'../assets/dispo.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2eff58'"
            [innerStrokeColor]="'#2eff58'"
            [animation]="true"
            [animationDuration]="800"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#ccf5d4'"
            [clockwise]="true"
            [startFromZero]="false"
        
            ></circle-progress>
        </div>
    </div>

</div>